ul{ color:royalblue;
font-size:30px;
font-family: 'Mali', cursive;
margin:1px;
font-family: 'Charmonman', cursive;
background-color:black;
width: 92%;
height:900px;
}
h1{ font-family: 'Mali', cursive;
background-color:blue;
}
head{
    
    width:1px;}
img{
    width: 500px;
    border: 2px solid blue;
    
}
   ul{
       text-align:center;
   }
   